body {
  background-color: #efefef;
}

.header {
  text-align: center;
}

.form-group {

  line-height: 35px;
  padding-top: 10px;

  .dropdown-toggle {
    margin-left: -5px;
    border-left: none;
    border-bottom-left-radius: 0px;
    border-top-left-radius: 0px;
  }

  .before-dropdown-toggle {
    border-right: none;
    border-bottom-right-radius: 0px;
    border-top-right-radius: 0px;
  }

  .control-label {
    float: left;
    padding-right: 15px;
  }
}

.table {
  .small_square {
    width: 15px;
    height: 15px;
  }
}

.chart_right, .chart_left {
  padding-top: 15px;
  border: 1px solid #efefef;
  border-radius: 5px;
  margin-top: 15px;
  margin-right: 5px;
  margin-left: 5px;
  width: 48% !important;
  background-color: #fff;
}